<div class="d-flex team-vs">
    <!-- [ngClass]="{'red' : childPartie.scoreOne > childPartie.scoreTwo,
    'blue' : childPartie.scoreOne < childPartie.scoreTwo}" -->
    <span class=" score " [ngStyle]="{'color' : getColor(childPartie.scoreOne,childPartie.scoreTwo)}">{{childPartie.scoreOne}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class=" score " [ngStyle]="{'color' : getColor(childPartie.scoreTwo,childPartie.scoreOne)}">&nbsp;&nbsp;<span style = "color : white;">-</span> {{childPartie.scoreTwo}}</span>

    <!-- <span class=" score " [ngStyle]="{'color' : getColor(childPartie.scoreOne,childPartie.scoreTwo)}">{{childPartie.scoreOne}} <span class=" score " [ngStyle]="{'color' : getColor(childPartie.scoreTwo,childPartie.scoreOne)}"> - {{childPartie.scoreTwo}}</span></span> -->

    <div class="team-1 w-50 ">
        <div class="team-details w-100 text-center ">
            <img src="assets/images/logo_1.png " alt="Image " class="img-fluid ">
            <h3>{{childPartie.teamOne}} <span>(win)</span></h3>
            <ul class="list-unstyled ">
                <li>Anja Landry (7)</li>
                <li>Eadie Salinas (12)</li>
                <li>Ashton Allen (10)</li>
                <li>Baxter Metcalfe (5)</li>
            </ul>
        </div>
    </div>
    <div class="team-2 w-50 ">
        <div class="team-details w-100 text-center ">
            <img src="assets/images/logo_2.png " alt="Image " class="img-fluid ">
            <h3>{{childPartie.teamTwo}} <span>(loss)</span></h3>
            <ul class="list-unstyled ">
                <li>Macauly Green (3)</li>
                <li>Arham Stark (8)</li>
                <li>Stephan Murillo (9)</li>
                <li>Ned Ritter (5)</li>
            </ul>
        </div>
    </div>
</div>