<section style="padding: 100px; " class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">

                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form #addMatchForm="ngForm" (ngSubmit)="saveMatch()">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="teamOne" placeholder="Team One" [(ngModel)]="match.teamOne" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="teamTwo" placeholder="Team Two" [(ngModel)]="match.teamTwo" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="scoreOne" placeholder="score one  *" [(ngModel)]="match.scoreOne" [ngModelOptions]="{standalone:true}">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="scoreTwo" placeholder="score two *" [(ngModel)]="match.scoreTwo" [ngModelOptions]="{standalone:true}">
                            </div>


                        </div>

                        <div class="regerv_btn">
                            <button class="btn_4">{{title}}</button>
                            <!-- <a href="#" class="btn_4">Book A Table</a> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>